@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
span.vdivider {
  border-style: solid ;
  border-width: 3px;
  border-color: black;
  padding: 0px;
  margin-top: 0px;
  height: 40px;

}
div.vdivider {
  border-style: solid ;
  border-width: 3px;
  border-color: black;
  padding: 0px;
  margin-top: 0px;
  display: inline;
  width: 6px;
  height: 30px;
}

div.hdivider {
  border-style: solid ;
  border-width: 3px;
  border-color: black;
  padding: 0px;
  margin-top: 0px;
  display: inline;
  width: 372px;
  height: 6px;

}

div.inputrow {
  max-height: 45px;
  padding: 0px;
  margin: 0px;
  display:block;
}

input.numberinput {
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 1px;
  font-size: large;
}

input.answered {
  color: blue;
  font-weight: bold;
}

button.solver {
  border-width: 3px;
  border-style: solid;

}
